{{#if productos.length }}
    <table>
        <tr class="thead">
            <th>nombre</th>
            <th>precio</th>
            <th>stock</th>
            <th>marca</th>
            <th>categoria</th>
            <th>detalles</th>
            <th>foto</th>
            <th>envio</th>
            <th>accion</th>
        </tr>

    {{#each productos}}
        <tr>
            <td data-label="Stock">{{stock}}</td>
            <td data-label="Nombre">{{nombre}}</td>
            <td data-label="Precio">${{precio}}</td>
            <td data-label="Marca">{{marca}}</td>
            <td data-label="Categoria">{{categoria}}</td>
            <td data-label="Detalles">{{detalles}}</td>
            <td data-label="Foto"> 
                <img src="{{foto}}" width="50" alt="{{nombre}}">
            </td>
            {{#if envio}}
                <td data-label="Envio">Si</td>
            {{else}}
                <td>No</td>
            {{/if}}
            <td data-label="Accion">
                    {{#if ../validos}}
                        <button onclick="productoController.actualizarProducto('{{id}}')" class="botonAlta">Actualizar</button>
                    {{else}}
                        <button disabled onclick="productoController.actualizarProducto('{{id}}')" class="botonAlta">Actualizar</button>
                    {{/if}}
                    <button onclick="productoController.borrarProducto('{{id}}')" class="botonAlta">Borrar</button>
                </td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}