{{#if productos.length }}
    <table>
        <tr>
            <th>nombre</th>
            <th>precio</th>
            <th>stock</th>
            <th>marca</th>
            <th>categoria</th>
            <th>detalles</th>
            <th>foto</th>
            <th>envio</th>
            <th>accion</th>
        </tr>

    {{#each productos}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{precio}}</td>
            <td>{{stock}}</td>
            <td>{{marca}}</td>
            <td>{{categoria}}</td>
            <td>{{detalles}}</td>
            <td> 
                <img src="{{foto}}" width="50" alt="{{nombre}}">
            </td>
            {{#if envio}}
                <td>Si</td>
            {{else}}
                <td>No</td>
            {{/if}}
            <td>
                    {{#if ../validos}}
                        <button onclick="productoController.actualizarProducto({{id}})" class="botonAlta">Actualizar</button>
                    {{else}}
                        <button disabled onclick="productoController.actualizarProducto({{id}})" class="botonAlta">Actualizar</button>
                    {{/if}}
                    <button onclick="productoController.borrarProducto({{id}})" class="botonAlta">Borrar</button>
                </td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}